@* Order page for the Bartender application.
    Senior Project I
    Jon Ebert *@

@model IEnumerable<Bartender.Models.Drink>

@{
    ViewBag.Title = "Orders";
}

<h1>Order Queue</h1>

@*Order queue that reflects all incomming orders from the menu page*@
<div>
    <table class="table table-bordered table-striped">
        <thead class="text-info">
            <tr>
                @*Pulls Header information from the model*@
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.ABV)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th></th>
            </tr>
        </thead>

        @* table body - holds all drink info for Ordered items *@
        <tbody>
            @foreach (var orderedItem in Model)
            {
                <tr>
                    <td>@orderedItem.Name</td>
                    <td>@orderedItem.Description</td>
                    <td>@orderedItem.ABV</td>
                    <td>$@orderedItem.Price</td>
                    @*The following table data tags display the data from the list being passed into the view using the orderedItem variable*@
                    <td>
                        @Html.ActionLink("Prepare", "MethodMoveFromOrderedToPrepared", "Order", orderedItem, new { @class = "btn btn-primary"}) 
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
