@* Prepared page for the Bartender application.
    Senior Project I
    Jon Ebert *@

@model IEnumerable<Bartender.Models.Drink>

@{
    ViewBag.Title = "Prepared"; 
}

<h1>Prepared Drinks</h1>

@*A queue showing all the drinks that the bartender needs to prepare.
    -Also includes a button next to each drink to remove them from the bartender's queue*@
<div>
    <table class="table table-bordered table-striped">
        <thead class="text-info">
            <tr>
                @*Pulls Header information from the model*@
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.ABV)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>Remove Drinks Once Prepared</th>
            </tr>
        </thead>

        @* table body - holds all drink info foritems needing to be made *@
        <tbody>
            @foreach (var preparedItem in Model)
            {
                <tr>
                    @*These add the prepared item to the table under the header row*@
                    <td>@preparedItem.Name</td>
                    <td>@preparedItem.Description</td>
                    <td>@preparedItem.ABV</td>
                    <td>$@preparedItem.Price</td>
                    @*The following action link *@
                    <td>
                        @Html.ActionLink("Drink Made, Remove from Orders", "MethodRemovePreparedDrink", "Order", preparedItem, new {@class = "btn btn-primary"})
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
