@* Home page for the Bartender application.
    Senior Project I
    Jon Ebert *@

@model IEnumerable<Bartender.Models.Drink>
@{
    ViewBag.Title = "Menu";
}

<h1>Menu</h1>

@* Table created to store all drinks and order buttons*@
<div>
    <table class="table table-bordered table-striped">
        <thead class="text-info">
        <tr >
            @*Pulls Header information from the model through the controller*@
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.ABV)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th></th>
        </tr>
        </thead>

        @* table body - holds all drink info
            I made these up using google's help :p *@
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ABV</td>
                <td>$@item.Price</td>
                <td>
                    @Html.ActionLink("Order", "methodAddOrder", "Order", item, new {@class ="btn btn-primary"} ) 
                </td> @*Button needs to be added*@
            </tr>
        }
        
        </tbody>
    </table>
</div>

